<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add reservation</title>
</head>
<body>
    <% include partials/nav.ejs %> <br>
  <% if (err) { %>
    <p><%= err %></p>
  <% } %>
  <form action="/reservations/add" method="post">
    <h3>Add reservation</h3>
    <label for="restaurants-label">Choose restaurants</label>
    <br>
    <select name="restaurantId" id="restaurants">
      <% restaurants.forEach(restaurant => { %>
      <option value=<%= restaurant.id %>><%= restaurant.name %></option>
      <% }) %>
    </select>
    <br>
    <label for="time-label">Reservation time</label>
    <br>
    <select name="time" id="time">
      <% for (let i = 10; i <= 20; i += 2) {%>
        <option value=<%= i %>><%= hourViewConverter(i) %></option>
      <% } %>
    </select>
    <br>
    <input type="submit" value="Reserve a spot!">
  </form>
</body>
</html>