<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reservations</title>
</head>
<body>
  <input type="button" value="Edit Personal Data" onclick="location.href='/customer'">
  <br>
  <input type="button" value="Add reservation" onclick="location.href='/reservations/add'">
  <br><br>
  <table width="50%" border="2">
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% reservations.forEach(reservation => { %>
      <tr>
        <td><%= reservation.Restaurant.name %></td>
        <td><%= reservation.Restaurant.address %></td>
        <td><%= reservation.Restaurant.phone %></td>
        <td><%= reservation.time %></td>
        <td>
          <a href="/reservations/<%= reservation.id %>/edit">Edit</a> |
          <a href="/reservations/<%= reservation.id %>/delete">Delete</a> 
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <br>
  <form action="/reservations" method="POST">
    <fieldset>
      Restaurant Reservations Checker:<br>
      <select name="id">
          <% restaurants.forEach(restaurant => { %>
          <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
          <% }) %>
      </select> <br>
      <input type="submit">
    
      <% if(table !== null || reservedTables !== null) { %>
        <p1>Tables at </p1>
        <table width="60%" border="3"> 
          <thead>
            <tr>
              <th>Time</th>
              <th>Maximum Table</th>
              <th>Available Table</th>
            </tr>
          </thead>
          <tbody>
            <% for(let x=0; x<6; x++) { %>
            <tr>
                <td><%= hourConverter((2*x)+10) %></td>
                <td><%= table %></td>
                <td><%= table-reservedTables[x].count %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      <% } %>

</body>
</html>